*.xls[x]
*.xml
*.doc[x]
*.txt
*.csv
*.zip
*.pdf
*.ipynb_checkpoints
/.idea/
/step_2_feature_engeneering/catboost_info
/step_3_ml_conclusions/catboost_info
*.rar
*.png
!*_to_git.*

/step_2_feature_engeneering/deep_model
/step_2_feature_engeneering/torch_test.ipynb
/step_2_feature_engeneering/dataset_assebling.sql
/step_2_feature_engeneering/sqla.py
/step_3_ml_conclusions/sqla.py
/step_3_ml_conclusions/catboost_info/
/step_2_feature_engeneering/catboost_info/
/step_3_ml_conclusions/catboost_playground.ipynb
/step_3_ml_conclusions/Fbeta_model
/step_3_ml_conclusions/Fbeta_model_iter1
/step_3_ml_conclusions/precision_1
/datasets


/step_3_ml_conclusions/Fbeta_model_plohish_orientired_finish_temp
/step_3_ml_conclusions/Fbeta_model_plohish_orientired_other_feature
/step_3_ml_conclusions/Fbeta_model_plohish_orientire2
/step_3_ml_conclusions/sometuned
